NET "LED[0]" LOC = K4;
NET "LED[1]" LOC = K3;
NET "LED[2]" LOC = L5;

NET "INPUT[0]" LOC = E18;
NET "INPUT[1]" LOC = F17;
NET "INPUT[2]" LOC = H14;

NET "LED_2[0]" LOC = C4;
NET "LED_2[1]" LOC = D6;
NET "LED_2[2]" LOC = A3;