NET "LED[0]" LOC = K4;
NET "LED[1]" LOC = K3;
NET "LED[2]" LOC = L5;
NET "LED[3]" LOC = K5;

NET "INPUT[0]" LOC = E18;
NET "INPUT[1]" LOC = F17;
NET "INPUT[2]" LOC = H14;


NET "MOTOR_A[1]" LOC = C4;
NET "MOTOR_A[0]" LOC = D6;


NET "MOTOR_B[1]" LOC = G14;
NET "MOTOR_B[0]" LOC = H12;
